.App {
  width: 100vw;
  height: 100vh;
}

.central{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bannerText{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}